.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
<<<<<<< HEAD
=======
    /* Jaaj */
    padding-left: 40px;
    padding-right: 40px;
>>>>>>> af92fe703831379ee2edbad35229eed846fdb08a
}

.header-container .profile-container .profile-img{
    border-radius: 50%;
}

