.search{
    display: flex;
    align-items: center;
    width: 300px;
    height: 35px;
    padding: 5px;
    gap: 5px;

    background-color: var(--bg-dark-sec);
    border-radius: 6px;
    border: 0.5px solid var(--border-color-card);

    color: var(--text-sec);

    transition: 200ms;
}

.search input{
    width: 90%;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--color10);
    font-size: 0.9rem;
}

.search:has(input:focus){
    background-color: #161616;
    transition: 200ms;
}

.search span{
    color: var(--color10);
    font-size: 1.2rem;
}