.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.title-container .title h5{
    color: var(--color10);
    font-family: var(--font-display);
    font-weight: 500;
}
.title-container .title h1{
    color: var(--text);
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 1.7rem;
}

.title-container .board-options-container{
    display: flex;
    gap: 1rem;
}