.navbar-container{
    background-color: var(--bg-dark);
    border-right: solid 2px var(--bg-dark-sec);    

    width: 260px;
    height: 100vh;

    padding: 40px 30px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: fixed;
}

    .navbar-container .workspace-container{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
        .navbar-container .workspace-container .workspace-title{
            display: flex;
            justify-content: space-between;

            color: var(--text);
            font-family: var(--font-poppins);
            font-weight: 500;

            padding: 1rem 0px;

            border-bottom: solid 2px var(--bg-dark-sec) ;
        }